footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 30px;
}
footer h2 {
    margin-bottom: 20px;
}

footer a {
    color: #C93413;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer ul i {
    font-size: 3rem;
    transition: 0.3s;
}

footer ul i:hover {
    transform: scale(1.1);
}

small {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}