.hero {
    height: 80vh;
    background-color: aqua;
    background-image: url(../images/hero-image2.png);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.hero::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
}
